{% extends 'base.html.twig' %}

{% block title %}Situations index{% endblock %}

{% block body %}
    <h1>Situations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situation in situations %}
            <tr>
                <td>{{ situation.id }}</td>
                <td>{{ situation.number }}</td>
                <td>{{ situation.description }}</td>
                <td>
                    <a href="{{ path('situations_show', {'id': situation.id}) }}">show</a>
                    <a href="{{ path('situations_edit', {'id': situation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('situations_new') }}">Create new</a>
{% endblock %}
